.card {
  width: 100%;
  position: relative;
  top: 135px;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgba(253, 249, 215, 0.699);
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in;
}

.card:hover {
  transform: scale(1.05);
}

.card > img {
  width: 100%;
  height: 125px;
}

h2 {
  padding: 10px;
  font-size: 2.2vh;
}
