.card {
  min-width: 175px;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  text-align: center;
  background-color: rgba(253, 249, 215, 0.699);
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in;
}

.card:hover {
  transform: scale(1.05);
}

.number {
  justify-self: flex-start;
}

.card > img {
  width: 100%;
  min-height: 125px;
}

.types {
  margin: 0;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.type {
  margin: 0 5px;
  font-size: 1vh;
  color: white;
  border: 1px solid #333;
  padding: 0 5px;
}

h2 {
  padding: 10px;
  font-size: 2vh;
  text-transform: capitalize;
}
