footer {
  position: fixed;
  top: calc(100vh - 50px);
  height: 50px;
  width: 100%;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  box-shadow: 0px 6px 5px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top, #360f0f, rgb(255, 0, 0));
  color: #fffb00;
}

.links {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  padding: 0 0.5em;
  transition: transform 0.1s linear;
  text-decoration: none;
  color: #fffb00;
  font-weight: bold;
}

a:hover {
  transform: scale(1.2);
}

p::before {
  content: '';
  position: absolute;
  transition: transform 0.3s ease;
  left: 12.5%;
  bottom: 0;
  top: 40px;
  width: 75%;
  height: 2px;
  background: #aaa;
  transform: scaleX(0);
}

p:hover::before {
  background: #fffb00;
  transform: scaleX(0.05);
}

p > a {
  position: relative;
  top: -4px;
}
